name: stream_with_value
description: >
  An encapsulation of a Stream<T>, a single variable of type T, and a bool
  indicating whether value is loaded
version: 0.2.0+1
homepage: https://futureware.dev

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  test:
